In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

# SERIES

## Method 1 [From a List]

In [4]:
data=[10,20,30,40,50]
df=pd.Series(data)

In [5]:
df

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
df[2]

np.int64(30)

## Method-2 [FROM CUSTOM INDEX]

In [6]:
data1=[10,20,30,40,50]
df1=pd.Series(data,index=['a','b','c','d','e'])

In [33]:
df1['a']

np.int64(10)

In [23]:
df1['d']

np.int64(40)

## Method-3 [From Dictionary]

In [8]:
data2={'fruit':'apple','total_count':300,'price':40}
df2=pd.Series(data2)

In [34]:
df2['fruit']

'apple'

In [25]:
df2['total_count']

300

# DATAFRAME

## Method-1 [From dictionary of lists]

In [10]:
data3={
    'name':['ankit','sachin','sourav'],
    'age':[24,25,32],
    'profession':['sde','data','training']
}

In [26]:
df3=pd.DataFrame(data3)

In [35]:
df3['age']

0    24
1    25
2    32
Name: age, dtype: int64

## Method-2 [From Lists of Dictionary]

In [12]:
data4=[
    {'name':'ankit','age':24,'profession':'sde'},
    {'name':'sachin','age':25,'profession':'data'},
    {'name':'sourav','age':32,'profession':'training'}
]

In [36]:
df4=pd.DataFrame(data4)

In [38]:
df4['name']

0     ankit
1    sachin
2    sourav
Name: name, dtype: object

# Method-3 [From Lists Of list]

In [14]:
data5=[
    ['ankit',24,'sde'],
    ['sachin',25,'data'],
    ['sourav',32,'training']
]

In [15]:
data5

[['ankit', 24, 'sde'], ['sachin', 25, 'data'], ['sourav', 32, 'training']]

In [16]:
pd.DataFrame(data5)

        0   1         2
0   ankit  24       sde
1  sachin  25      data
2  sourav  32  training