In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({
    'Date': ['2023-01-15', '15/1/2023', 'March 5 2023','invalid']
})

In [11]:
df

           Date
0    2023-01-15
1     15/1/2023
2  March 5 2023
3       invalid

In [14]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce',dayfirst='True')

In [15]:
df

        Date
0 2023-01-15
1        NaT
2        NaT
3        NaT

In [26]:
import pandas as pd
from dateutil import parser
df = pd.DataFrame({
    'Date': ['2023-01-15', '15/1/2023', 'March 5 2023', '2023.04.01', '5th April 2023', '01-05-2023']
})

def robust_parse_date(val):
    if pd.isna(val) or not isinstance(val, str):
        return pd.NaT
    try:
        return parser.parse(val, dayfirst=True)
    except Exception:
        return pd.NaT
for col in df.columns:
    if df[col].dtype == 'object':
        df[f'{col}_Parsed'] = df[col].apply(robust_parse_date)

print(df)

             Date Date_Parsed
0      2023-01-15  2023-01-15
1       15/1/2023  2023-01-15
2    March 5 2023  2023-03-05
3      2023.04.01  2023-01-04
4  5th April 2023  2023-04-05
5      01-05-2023  2023-05-01

In [27]:
df2 = pd.DataFrame({
    'Date': ['2023-01-15', '15/1/2023', 'March 5 2023', '2023.04.01', '5th April 2023', '01-05-2023']
})

In [23]:
df2

             Date
0      2023-01-15
1       15/1/2023
2    March 5 2023
3      2023.04.01
4  5th April 2023
5      01-05-2023

In [24]:
df2.dtypes

Date    object
dtype: object